@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
html{
    background-color: #dbcbbd;
}
body{
    font-family: 'Dancing Script', cursive;
    color:#dbcbbd;
    padding-top: 106px;
}
/*Heading h2*/
h2{
  font-family: 'Dancing Script', cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  color:black;
}
#welcome, #dishes{
    text-align: center;
}
/*Nav Bar*/
.nav-item {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: right;  
    font-size: 200%;  
}

.navbar .navbar-toggler {
    border: 0;
}
.active span {
    border-bottom: 2px solid #dbcbbd;
}
/*Footer*/
.footer-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px auto 20px;
}
/*Image Slide*/
.img-slide{
  width:100%; height:0px; overflow: hidden; position:relative;padding-bottom:50%;
}
.img-slide img{
  position: absolute;
   animation:fling-minislide 25s infinite;
   opacity:0;
   width: 100%;
   height: auto;
}
@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.img-slide img:nth-child(5){animation-delay:0s;}
.img-slide img:nth-child(4){animation-delay:5s;}
.img-slide img:nth-child(3){animation-delay:10s;}
.img-slide img:nth-child(2){animation-delay:15s;}
.img-slide img:nth-child(1){animation-delay:20s;}
/* Menu Section*/
#menu-section{
  background-color: #eb8f8f;
  height: 300px;
  margin-top: 20px;

}
#menu-section img{
  height: 60%;
  width: 55%;
  border-radius: 50%;
}
#menu-section p{
  font-size: 100%;
  font-family: 'Oswald', sans-serif;
}
#menu-section a{
  text-decoration: none;
  cursor: pointer;
}

#left-about{
  background-color: #eb8f8f;
  padding-top: 30px;
  width: 33%;
  float: left;
  text-align: center;
}
#right-about{
  background-color: #eb8f8f;
  padding-top: 30px;
  width: 33%;
  float: right;
  text-align: center;
}
#center-about{
  background-color: #eb8f8f;
  padding-top: 2%;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}
/*Image */
#image{
  height: 910px;
  width: 100%;
  vertical-align: center;
  display: block;
  background-size: cover;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
}
/*Logo*/
#logo{
  float: left;
  font-size: 200%;
  margin-left: 30px;
}
/* Menu page content*/
*{
  box-sizing: border-box;
}
.column{
  float: left;
  width: 33.33%;
  padding: 10%;
  height: 300px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.column h2{
  color: #fff
}
hr{
  border-top: 5px solid grey;
}
h2{
  text-align: center;
  top: 20%;
}
.col-md-4{
  background-image: url("https://i.pinimg.com/originals/18/b0/06/18b006449fb2f68f792eae25b8d1575a.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.column p{
  color: #eb8f8f;
}
/* Photo grid for Gallery.html*/
/*#photo{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  margin: auto;
  width: 740px;
}
#photo img{
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  max-width: 100%;
}*/
.flex-column{
    max-width: 260px;
}
.container{
    margin: 5px;
}
/*Form section in contact.html*/
.form-section {
    clear: left;
    background: url("https://img.resized.co/image_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvczMtZXUtd2VzdC0xLmFtYXpvbmF3cy5jb21cXFwvc3RvcmFnZS5wdWJsaXNoZXJwbHVzLmllXFxcL21lZGlhLmltYWdlLmllXFxcL3VwbG9hZHNcXFwvMjAxOVxcXC8xMFxcXC8yOTExMTUyM1xcXC9Eb29sYWxseS1JbnRlcmlvcnMtLmpwZ1wiLFwid2lkdGhcIjo5OTAsXCJoZWlnaHRcIjo1MjksXCJkZWZhdWx0XCI6XCJodHRwczpcXFwvXFxcL3d3dy5pbWFnZS5pZVxcXC9pbWFnZXNcXFwvbm8taW1hZ2UucG5nP3Y9MlwifSIsImhhc2giOiI3MjA2YTQ4YTAzZWMzYzEwYTk4ZDBmZjlmYWRhYjM4ZDBiMDI5OGRhIn0=/doolally-interiors.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}
.contact{
	padding: 4%;
	height: 400px;
}
.col-md-3{
	background: #821752;
	padding: 4%;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.contact-info{
	margin-top:10%;
}
.contact-info img{
	margin-bottom: 15%;
}
.contact-info h2{
	margin-bottom: 10%;
}
.col-md-9{
	background: #fff;
	padding: 3%;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.contact-form label{
	font-weight:600;
}
.contact-form button{
	background: #25274d;
	color: #fff;
	font-weight: 600;
	width: 25%;
}
.contact-form button:focus{
	box-shadow:none;
}

/*Media Queries*/
@media(max-width: 568px){
    #logo{
        font-size: 100%;
    }
    #image{
        height: 100%;
        width: 100%;
    }
    #menu-section{
        width: 100%;
        height: 1000px;
        margin: 0 auto;
    }
    .left-about, .right-about{
    width: inherit;
  }
  .left-about h2, .right-about h2{

    text-align: center;
  }
  .left-about p, .right-about p{
    text-align: center;
    /*padding: 0 20px 0 20px;*/
  }
}